:root {
  --light-blue: #1f84bb;
  --dark-blue: #0d0a77;
  --light-hover-blue: #daf2fc;
  --white: #fff;
  --grey: #6d6d6d;
  --light-grey: #efeff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.btn {
  padding: 12px 16px;
  border: none;
  transition: all 0.2s linear;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.btn-small {
  height: 44px;
  padding: 12px 32px;
}
.btn-extr-small {
  padding: 6px 32px;
}

.btn-primary {
  background: var(--light-blue);
  color: var(--white);
  transition: all 0.2s linear;
}
.btn-primary:hover {
  background: var(--dark-blue);
}

.btn-secondary {
  background: var(--dark-blue);
  color: var(--white);
  transition: all 0.2s linear;
}
.btn-secondary:hover {
  background: var(--light-blue);
}

.btn-icon {
  border-radius: 50%;
  background: transparent;
  padding: 4px;
  font-size: 12px;
  border: 1px solid var(--white);
  margin-left: 5px;
}
.btn-icon:before {
  margin-top: 1px;
  margin-left: 1px;
}

.active {
  background: var(--dark-blue);
}

.select-wraper {
  display: flex;
}

ul {
  list-style: none;
}

input {
  height: 28px;
  padding: 0 5px;
  max-width: 120px;
}
select {
  position: relative;
  width: 120px;
  height: 28px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 1px solid var(--light-blue);
  font-size: 16px;
  outline: none;
  z-index: 10;
  transition: box-shadow 0.2s ease;
}
select:focus {
  box-shadow: 0 0 5px 2px rgba(31, 132, 187, 0.5);
}
.select-wraper {
  position: relative;
  width: 120px;
}
.select-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  height: 28px;
  width: 28px;
  background: var(--light-blue);
  color: var(--white);
  z-index: 9;
}
.select-arrow i {
  margin-top: 3px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: 1px solid var(--light-blue);
  border-radius: 0px;
  cursor: pointer;
  position: relative;
}

/* Optional: Add a checkmark */
input[type="checkbox"]:checked::after {
  content: "✔";
  font-weight: bold;
  font-size: 14px;
  color: var(--light-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header */

header {
  background: var(--light-blue);
}
/* Navigation */
.header {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger-menu-wraper {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.hamburger-menu {
  position: relative;
  top: 50%;
  left: 50%;
  width: 25px;
  background: var(--white);
  height: 2px;
  transform: translate(-50%, -50%);
  transition: all 0.2s linear;
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 7px;
  background: var(--white);
  transition: all 0.2s linear;
}
.hamburger-menu:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -7px;
  background: var(--white);
  transition: all 0.2s linear;
}

.hamburger-menu-wraper:hover .hamburger-menu:before {
  top: 0;
  transform: rotate(45deg);
  transition: all 0.2s linear;
}
.hamburger-menu-wraper:hover .hamburger-menu:after {
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.2s linear;
}

.hamburger-menu-wraper:hover .hamburger-menu {
  background: transparent;
  transition: all 0.2s linear;
}

.navigation li {
  padding: 18px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.4px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s linear;
}

.navigation li:hover {
  background: var(--dark-blue);
  transition: all 0.2s linear;
}
.navigation li a,
.navigation li a:visited,
.mobile-nav li a,
.mobile-nav li a:visited {
  text-decoration: none;
  color: var(--white);
}

/* Mobile Nav */

.mobile-nav-wraper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light-blue);
  z-index: 1000;
  gap: 5px;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-nav-wraper.show {
  transform: translateX(0);
  opacity: 1;
}

.mobile-nav {
  position: relative;
}

.mobile-nav-item {
  width: 200px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  transition: all 0.2s linear;
  cursor: pointer;
}

.mobile-nav-item:hover {
  background: var(--dark-blue);
  transition: all 0.2s linear;
}

#menu-close {
  position: absolute;
  top: -20px;
  right: 10px;
  color: var(--white);
  transition: transform 0.2s linear;
  cursor: pointer;
  font-size: 12px;
}

#menu-close:hover {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

/* User */
.user-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
}
.user {
  display: flex;
  gap: 5px;
}

/* Main */
main {
  padding: 5px;
  margin-bottom: 40px;
}

.tab-buttons {
  display: flex;
  gap: 5px;
}

/* Form */
.filter {
  margin-top: 20px;
}
form {
  display: flex;
  justify-content: space-between;
}
form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  color: var(--grey);
}
form .dates-wraper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form .dates-wraper label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.dates {
  display: flex;
  gap: 5px;
}
.dates .flatpickr-input {
  border: 1px solid var(--light-blue);
  width: 85px;
}

.dates .flatpickr-input.active {
  background: var(--white);
}
#paieska,
.dates .flatpickr-input {
  outline: none;
}
#paieska:focus,
.dates .flatpickr-input:focus {
  box-shadow: 0 0 5px 2px rgba(31, 132, 187, 0.5);
}
.paieska-wraper {
  position: relative;
  width: 172px;
}
.paieska-wraper input {
  max-width: 100%;
  border: 1px solid var(--light-blue);
}

.paieska-icon {
  position: absolute;
  top: 0;
  right: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-blue);
}
.paieska-icon i {
  cursor: pointer;
}

.perziura-wraper {
  display: flex;
  align-items: flex-end;
}

/* Results */
.results {
  margin-top: 20px;
}

.results-header,
.results-body {
  width: 100%;
  display: flex;
  transition: background 0.2s linear;
}

.results-header {
  border: 2px solid var(--light-blue);
}

.results-body-wraper {
  border-style: solid;
  border-color: var(--light-blue);
  border-width: 0px 2px 2px 2px;
}

.results-body:hover {
  background: var(--light-hover-blue);
  transition: background 0.2s linear;
}

.results-header-title-main,
.body-title-main {
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-right: 1px solid var(--light-blue);
  transition: background 0.2s linear;
}

.body-title-main label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.accordion-header {
  cursor: pointer;
  display: none;
}
.body-title,
.accordion-content .body-title,
.results-header-title {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-right: 1px solid var(--light-blue);
}

.accordion-content,
.results-header-wraper {
  width: 100%;
  display: flex;
}

.accordion-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.accordion-arrow.rotate {
  transform: rotate(-180deg);
}

.results-header-title:last-child,
.body-title:last-child {
  border-right: none;
}
.results-body {
  border-bottom: 1px solid var(--light-grey);
}
.results-body:last-child {
  border-bottom: none;
}

/* Buttons */
.buttons-wraper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* Media quries */

@media (max-width: 1425px) {
  .navigation {
    justify-content: start;
    flex-wrap: wrap;
  }
  .user-wraper {
    align-items: flex-start;
    padding-top: 18px;
  }
  form {
    gap: 10px;
    justify-content: start;
    flex-wrap: wrap;
  }
  #hamburger-menu {
    padding: 18px 12px;
  }
  .hamburger-menu-wraper {
    display: block;
  }
  .navigation {
    display: none;
  }
  .user-wraper {
    padding-top: 0;
  }
}

@media (max-width: 965px) {
  #hamburger-menu {
    padding: 18px 12px;
  }
  .hamburger-menu-wraper {
    display: block;
  }
  .navigation {
    display: none;
  }
  .user-wraper {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .results {
    width: 60%;
  }

  form .dates-wraper,
  form .kam-priklauso,
  form .svarbumas,
  form .tipas,
  form .busena,
  form .veikla,
  form .miestas,
  form .perziura-wraper {
    display: none;
  }
  .d-none-small {
    display: none;
  }
  .results-body {
    flex-direction: column;
  }
  .results-body:hover {
    background: none;
  }

  .results-header-wraper {
    display: none;
  }
  .results-header-title-main,
  .body-title-main {
    border-right: none;
    width: 100%;
  }

  .body-title-main {
    display: flex;
  }
  .body-title-main:hover {
    background: var(--light-hover-blue);
    transition: background 0.2s linear;
  }
  .accordion-header {
    display: block;
    width: 100%;
    text-align: end;
  }
  .accordion-content {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    border-top: 1px solid #ddd;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }
  .body-title {
    border-top: 1px solid var(--light-grey);
    border-right: none !important;
    overflow: visible !important;
  }
  .body-title:first-child {
    border-top: none;
  }
}

@media (max-width: 650px) {
  .results {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .buttons-wraper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .buttons-wraper {
    align-items: stretch;
  }
}
