:root {
  --light-blue: #1f84bb;
  --dark-blue: #0d0a77;
  --white: #fff;
  --light-grey: #6d6d6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.btn {
  padding: 12px 16px;
  border: none;
  transition: all 0.2s linear;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.btn-small {
  height: 44px;
  padding: 12px 32px;
}

.btn-primary {
  background: var(--light-blue);
  color: var(--white);
  transition: all 0.2s linear;
}
.btn-primary:hover {
  background: var(--dark-blue);
}

.btn-secondary {
  background: var(--dark-blue);
  color: var(--white);
  transition: all 0.2s linear;
}
.btn-secondary:hover {
  background: var(--light-blue);
}
.active {
  background: var(--dark-blue);
}

.select-wraper {
  display: flex;
}

ul {
  list-style: none;
}

input {
  height: 28px;
  padding: 0 5px;
  max-width: 120px;
}
select {
  position: relative;
  width: 120px;
  height: 28px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 1px solid var(--light-blue);
  font-size: 16px;
  outline: none;
  z-index: 10;
  transition: box-shadow 0.2s ease;
}
select:focus {
  box-shadow: 0 0 5px 2px rgba(31, 132, 187, 0.5);
}
.select-wraper {
  position: relative;
  width: 120px;
}
.select-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  height: 28px;
  width: 28px;
  background: var(--light-blue);
  color: var(--white);
  z-index: 9;
}
.select-arrow i {
  margin-top: 3px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: 1px solid var(--light-blue);
  border-radius: 0px;
  cursor: pointer;
  position: relative;
}

/* Optional: Add a checkmark */
input[type="checkbox"]:checked::after {
  content: "✔";
  font-weight: bold;
  font-size: 14px;
  color: var(--light-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header */

header {
  background: var(--light-blue);
}
/* Navigation */
.header {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation li {
  padding: 18px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.4px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s linear;
}
.navigation li:hover {
  background: var(--dark-blue);
  transition: all 0.2s linear;
}

/* User */
.user-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
}
.user {
  display: flex;
  gap: 5px;
}

/* Main */
main {
  padding: 5px;
}

.tab-buttons {
  display: flex;
  gap: 5px;
}

/* Form */
.filter {
  margin-top: 20px;
}
form {
  display: flex;
  justify-content: space-between;
}
form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  color: var(--light-grey);
}
form .dates-wraper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form .dates-wraper label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.dates {
  display: flex;
  gap: 5px;
}
.dates .flatpickr-input {
  border: 1px solid var(--light-blue);
}

.dates .flatpickr-input.active {
  background: var(--white);
}
#paieska,
.dates .flatpickr-input {
  outline: none;
}
#paieska:focus,
.dates .flatpickr-input:focus {
  box-shadow: 0 0 5px 2px rgba(31, 132, 187, 0.5);
}
.paieska-wraper {
  position: relative;
  width: 172px;
}
.paieska-wraper input {
  max-width: 100%;
  border: 1px solid var(--light-blue);
}

.paieska-icon {
  position: absolute;
  top: 0;
  right: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-blue);
}
.paieska-icon i {
  cursor: pointer;
}

.perziura-wraper {
  display: flex;
  align-items: flex-end;
}
/* Test css */
